@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400);

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: fafafa;
    white-space: pre;
    padding-top: 50px;
}
